/*  Tabbed Navigation and Body  */

.tab-nav-container{background-color:#40752d;}
.tab-container{padding:25px 50px;background-color:#fff;}
.tab-row{content:"";display:table;clear:both;}
.tab-link {text-decoration:none;color:#fff;font-size:16px;}
.tab-padding{padding:8px 16px!important;}
.tab-light-green,.tab-hover-light-green:hover,.tab-light-green,.tab-hover-light-green:hover{color:#1b5b2d!important;background-color:#86c547!important}
.tab-container:after,.tab-container:before,.tab-panel:after,.tab-panel:before,.tab-row:after,.tab-row:before,.tab-row-padding:after,.tab-row-padding:before,
.tab-cell-row:before,.tab-cell-row:after,.tab-clear:after,.tab-clear:before,.tab-bar:before,.tab-bar:after{content:"";display:table;clear:both}
.tab-border-lime,.tab-hover-border-lime:hover{border-color:#86c547!important}
