/*  Tabbed Navigation and Body  */

.tab-nav-container{
	background-color:#183A51;
	}
.tab-container{
	padding:10px 5px 50px 15px;
	background-color:#fff;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	}
.tab-row{
	content:"";
	display:table;
	clear:both;
	}
.tab-link {
	text-decoration:none;
	color:#fff;
	font-size:16px;
	}
.tab-padding{
	padding:8px 16px!important;
	}
.tab-light-blue,.tab-hover-light-blue:hover,.tab-light-blue,.tab-hover-light-blue:hover{
	color:#f0f0f0!important;
	background-color:#2B6791!important;
	}
.tab-container:after,.tab-container:before,.tab-panel:after,.tab-panel:before,.tab-row:after,.tab-row:before,.tab-row-padding:after,.tab-row-padding:before,
.tab-cell-row:before,.tab-cell-row:after,.tab-clear:after,.tab-clear:before,.tab-bar:before,.tab-bar:after{
	content:"";
	display:table;
	clear:both;
	}
.tab-col,.tab-half,.tab-third,.tab-twothird,.tab-threequarter,.tab-quarter{
	float:left;
	width:100%;
	}
.tab-col.m5{
	width:41.66666%;
	}
.tab-col.m6,.tab-half{
	width:49.99999%;
	}
.tab-col.m7{
	width:58.33333%;
	}
.tab-col.m8,.tab-twothird{
	width:66.66666%;
	}

@media screen and (min-width:601px){
	.tab-col.m1{
		width:8.33333%;
		}
	.tab-col.m2{
		width:16.66666%;
		}
	.tab-col.m3,.tab-quarter{
		width:24.99999%;
		}
	.tab-col.m4,.tab-third{
		width:33.33333%;
		}
	}

@media screen only and (max-width:312px){
	.tab-col.m1{
		width:100%
		}
	.tab-col.m2{
		width:100%;
		}
	.tab-col.m3,.tab-quarter{
		width:100%;
		}
	.tab-col.m4,.tab-third{
		width:100%;
		}
	.tab-container{
		width:100%;
		padding:5px;
		margin:0px !important;
		overflow: hidden !important!
		}
	.tab-row[class=tr-mob]{
		padding-left:5px;
		}
	.tab-hover-light-green{
		width: 100%;
		margin:0px !important;
		}
	}



